
// Color variables

$taskCardColor: rgb(0, 50, 50);
$taskBorderColor: rgb(0, 120, 120);
$subtaskCardColor: rgb(0, 100, 0);
$subtaskBorderColor: rgb(80, 150, 100);
$stepCardColor: rgb(100, 130, 40);
$stepBorderColor: rgb(120, 160, 40);


// Containers & sections

.mainPage {
    min-height: 100svh;
    min-width: 100svw;
    background: url('../public/assets/Focus_background.png');
    background-size: cover;
}
.mainPage h1 {
    font-family: "Times";
    color: rgb(147, 255, 152);
    padding: 20px;
    filter: drop-shadow(3px 1px 3px rgb(166, 255, 0));
}

.mainPage h2 {
    font-family: "Verdana";
    padding: 20px;
    color: lightblue;
}

.taskSection {
    border: 5px solid lightskyblue;
    min-width: 80svw;
    padding: 50px 0 100px 0;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-image: url('../public/assets/skyblue_clouds.png');
    background-size: cover;
    margin: 0;
}

.taskSection h3 {
    margin-left: 2svw;
    padding: 5px;
    color:white;
    background: linear-gradient(grey, black);
    border: solid 2px silver;
}

.taskSection button {
    background: linear-gradient(grey, black);
    color: silver;
}

.taskSection button:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px white);
    color: white;
}

.taskSection input {
    font-size: 16px;
    color: white;
    background-color: rgb(68, 68, 68);
}

.taskSection textarea {
    font-size: 16px;
    color: white;
    background-color: rgb(68, 68, 68);
}

@mixin containerMixin($borderColor) {
    font-size: 16px;
    font-weight: 800;
    background-color: rgb(43, 41, 41);
    border: solid;
    border-color: $borderColor;
    ul {
        list-style: none;
    }
}

.taskContainer {
    @include containerMixin($taskBorderColor);
    margin-left: 2svw;
}

.subtaskContainer {
    @include containerMixin($subtaskBorderColor);
    margin-left: 2svw;
}

.stepContainer {
    @include containerMixin($stepBorderColor);
    margin-left: 2svw;
}

// CARDS

.customCheckbox {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
  }
.customCheckbox:hover {
    box-shadow: 0 0 5px 2px rgb(0, 255, 85);
}

[checkbox-tooltip] {
    position: relative;
}

[checkbox-tooltip]:hover::after {
    content: attr(checkbox-tooltip);
    position: absolute;
    right: 25px;
    background-color: darkgreen;
    color:white;
}

@mixin cardMixin($color) {
    color: white;
    display: block;
    padding: 8px;
    background: linear-gradient(to top right, black -10%, $color, black 110%);
    width: 100%;
  }

.cardDescription {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.deleteButton:hover {
    background: linear-gradient(darkred, black);
    box-shadow: 0 0 5px 3px red;
}

// Task
.taskWindow {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: lightslategray;
}

.taskCard {
    @include cardMixin($taskCardColor);
  }

.taskCard p {
    padding-right: 4px;
}

.taskCard p:hover {
    box-shadow: 0 0 2px 2px silver;
}

// Subtask
.subtaskWindow {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: lightslategray;
}

.subtaskCard {
    @include cardMixin($subtaskCardColor);
  }
.subtaskCard p {
    padding-right: 4px;
}

// Step
.stepWindow {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: lightslategray;
}

.stepCard {
    @include cardMixin($stepCardColor);
  }
.stepCard p {
    padding-right: 2px;
}


// Completed card

.taskCardCompleted {
    opacity: 50%;
    border-bottom: 1px solid black;
    color: silver;
    display: block;
    padding: 8px;
    background: linear-gradient(to top left, black -10%, grey, black 110%);
    width: 100%;
}

@media (max-width: 600px) {
    .taskSection {
        grid-template-columns: 1fr;
    }
    .taskContainer {
        margin-left: 0;
    }
    .taskSection h3 {
        margin-left: 0;
    }
}

// Focused card
.taskCardFocused {
    position: absolute;
    top: 0%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%);
    width: 100svw;
    height: 100svh;
    color: white;
    background: radial-gradient(rgb(70, 70, 70), black);
    z-index: 1; 
    p {
        background: linear-gradient(grey -50%, black 20%, grey 150%);
        padding: 20px;
        border-radius: 20px;
        font-size: 30px;
        border: none;
        box-shadow: 0 0 100px 20px silver;
    }
    button {
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        background: linear-gradient(darkgreen, lightgreen);
        margin-top: 20svh;
    } 
}