

.taskCard {
    color: rgb(21, 255, 0);
    display: block;
    padding: 10px;
    background: linear-gradient(blue, lightblue);
}

.taskCardFocused {
    position: absolute;
    top: 0%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);
    width: 100svw;
    height: 100svh;
    color: greenyellow;
    background: radial-gradient(black, forestgreen 200%);
    z-index: 1; 
    p {
        padding: 20px;
        border-radius: 50%;
        font-size: 30px;
        border: none;
        box-shadow: 0 0 50px 50px rgb(3, 3, 63);
    } 
    
}


.taskCard:hover {
    box-shadow: 5px 5px 5px red;
}

.taskContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: lightslategrey;
    ul {
        list-style: none;
        padding: 20px;
        background: linear-gradient(lightgreen, black, lightblue);
        display: grid;
        gap: 10px;
    }
}