
// Color variables

$taskCardColor: rgb(0, 50, 50);
$taskBorderColor: rgb(0, 120, 120);
$taskShadowColor: lightseagreen;

$subtaskCardColor: rgb(0, 100, 0);
$subtaskBorderColor: rgb(80, 150, 100);
$subtaskShadowColor: lime;

$stepCardColor: rgb(80, 90, 0);
$stepBorderColor: rgb(120, 160, 40);
$stepShadowColor: yellow;

$darkGrey: rgb(40, 40, 40);

// Containers & sections

@mixin expandCollapseMixin($color1, $color2, $color3) {
    display: flex;
    align-items: end;
    gap: 4px;
    color: $color1;
    font-size: 1.2rem;
    cursor: pointer;
    width: fit-content;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 2px 4px;
    span {
        font-size: 0.8rem;
        color: $color2;
    }
    &:hover {
        border-color: $color3;
    }
}

.expandCollapseSubtasks {
    @include expandCollapseMixin(limegreen, lime, limegreen);
}

.expandCollapseSteps {
    @include expandCollapseMixin(gold, yellow, gold);
}

.mainPage {
    min-height: 100svh;
    min-width: 100svw;
    background: url('../../public/assets/Focus_background.png');
    background-size: cover;
    box-sizing: border-box;
}
.mainPage h1 {
    font-family: "Times";
    color: rgb(147, 255, 152);
    padding: 20px;
    filter: drop-shadow(3px 1px 3px rgb(166, 255, 0));
}

.mainPage h2 {
    font-family: "Verdana";
    padding: 20px;
    color: lightblue;
}

.taskSection {
    border: 5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(56, 92, 112);
    background-size: cover;
    box-sizing: border-box;
    padding: 10svh;
}

.taskSection h3 {
    margin-left: 2svw;
    padding: 5px;
    color:white;
    background: linear-gradient(grey, black);
    border: solid 2px silver;
}

.taskSection button {
    background: linear-gradient(grey -100%, black);
    color: silver;
    padding: 0.2rem;
    border-radius: 4px;
}

.taskSection button:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px white);
    color: white;
}

.taskSection input {
    padding: 4px;
    font-size: 16px;
    color: white;
    background-color: rgb(68, 68, 68);
}

.taskSection textarea {
    font-size: 16px;
    color: white;
    background-color: rgb(68, 68, 68);
}

.focusButton {
    background: radial-gradient(black, blue);
    color: cyan;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

[focus-tooltip] {
    position: relative;
}

[focus-tooltip]:hover::after {
    content: attr(focus-tooltip);
    font-weight: 900;
    position: absolute;
    inset: 0 0 0 110%;
    color:white;
    width: 100%;
    filter: drop-shadow(5px 5px 5px black);
}

.focusButton:hover {
    cursor: pointer;
    box-shadow: 0 0 100px 50px white;
    color: white;
}

@mixin containerMixin($mainColor, $borderColor: white) {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 16px;
    font-weight: 800;
    background-color: $mainColor;
    border: solid 2px $borderColor;
    border-radius: 1rem;
    padding: 1rem;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.taskContainer {
    @include containerMixin($darkGrey, $taskCardColor);
    min-width: 50svw;
    margin-left: 2svw;
}

.subtaskContainer {
    @include containerMixin($darkGrey, $subtaskCardColor);
    margin-left: 2svw;
}

.stepContainer {
    @include containerMixin($darkGrey, $stepCardColor);
    margin-left: 2svw;
}

// CARDS

.customCheckbox {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
  }
.customCheckbox:hover {
    box-shadow: 0 0 5px 2px rgb(0, 110, 173);
}

[checkbox-tooltip] {
    position: relative;
}

[checkbox-tooltip]:hover::after {
    content: attr(checkbox-tooltip);
    position: absolute;
    right: 25px;
    background-color: rgb(0, 110, 173);
    color:white;
}

@mixin cardMixin($mainColor: black, $borderColor: white, $shadowColor: silver) {
    color: white;
    display: block;
    padding: 8px;
    background: linear-gradient(to top ,black -100%, $mainColor, black 200%);
    border: 1px solid $borderColor;
    border-radius: 0.5rem;
    width: 100%;
    p {
        padding-right: 4px;
    }
    &:hover {
        box-shadow: 0 0 3px 1px $shadowColor;
        z-index: 1;
    }
  }

.cardDescription {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.cardTextArea {
    hyphens: auto;
    display: flex;
    max-width: 100%;
}

.cardTextArea p {
    overflow: none;
    hyphens: auto;
    display: inline;
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.deleteButton:hover {
    background: linear-gradient(darkred, black);
    box-shadow: 0 0 5px 3px red;
}

.inputRow {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
}

// Task
.taskWindow {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.taskCard {
    @include cardMixin($taskCardColor, $taskBorderColor, $taskShadowColor);
  }

.taskNumber {
    color: $taskShadowColor;
    font-weight: 900;
    font-size: 1.2rem;
    padding-right: 6px;
}


// Subtask
.subtaskWindow {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.subtaskCard {
    @include cardMixin($subtaskCardColor, $subtaskBorderColor, $subtaskShadowColor);
  }

.subtaskNumber {
    color: $subtaskShadowColor;
    font-weight: 900;
    font-size: 1.2rem;
    padding-right: 6px;
}

// Step
.stepWindow {
    display: flex;
    justify-content: center;
    align-items: left;
}

.stepCard {
    @include cardMixin($stepCardColor, $stepBorderColor, $stepShadowColor);
}

// Completed card

.taskCardCompleted {
    @include cardMixin(grey, grey, silver);
    opacity: 50%;
    color: silver;
}

// Focused card
.focusScreen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100svh;
    height: auto;
    color: white;
    background: url("../../public/assets/skyblue_clouds.png");
    background-size: cover;
    z-index: 1;
}

.focusContent {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: radial-gradient(rgb(70, 70, 70), silver);
    padding: 30px;
    border-radius: 10px;
}

.focusParentsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.focusParentDescription {
    background: linear-gradient(grey -50%, black 20%, grey 150%);
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Times New Roman';
    border: none;
    hyphens: auto;
    display: inline;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

@mixin focusDescription($borderColor, $shadowColor) {
    max-width: 100%;
    background: linear-gradient(grey -50%, black 20%, grey 150%);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: 2rem;
    border: solid;
    border-color: $borderColor;
    box-shadow: 0 0 30px 10px $shadowColor;
    animation: showFocus 1s ease-in;
    text-align: center;
    hyphens: auto;
    display: inline;
    box-sizing: border-box;
    overflow-wrap: break-word;
    hyphens: auto;
}

.focusTaskDescription {
    @include focusDescription($taskBorderColor, lightblue);
}
.focusSubtaskDescription {
    @include focusDescription(green, lightgreen);
}
.focusStepDescription {
    @include focusDescription(yellow, gold);
}

@keyframes showFocus {
    from {opacity: 0};
    to {opacity: 1};
}

.goNextButton {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: impact;
    background: linear-gradient(darkgreen, lightgreen) !important;
    color: black !important;
}

.goNextButton:hover {
    box-shadow: 0 0 20px 2px cyan;
    transition: transform 0.2s ease-in;
    transform: scale(110%);
}

.exitButton {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20svh;
}


.subListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@mixin sublistMixin($textColor) {
    color: $textColor;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.5;
    width: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}

.completedSubtasks {
    @include cardMixin(green);
    @include sublistMixin(white);
}
.completedSteps {
    @include cardMixin(yellow);
    @include sublistMixin(black);
}

.completedTasks {
    @include cardMixin($taskCardColor);
    @include sublistMixin(white);
}

.subListContainer ul {
    list-style: none;
}


// DownArrow styles

.arrowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.downArrow {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;   
    border-top: 20px solid black;
    display: block;
    position: absolute;
    filter: drop-shadow(0px 0px 3px silver);
}

@media (max-width: 800px) {
    .taskSection {
        padding: 1svw;
    }

    .taskContainer {
        margin-left: 0;
        max-width: 100%;
        box-sizing: border-box;
        flex-shrink: 1;
    }
    .taskSection h3 {
        margin-left: 0;
    }

    .focusContent {
        max-width: 100%;
    }

    .focusTaskDescription {
        font-size: 1.5rem;
    }

    .focusSubtaskDescription {
        font-size: 1.5rem;
    }

    .focusStepDescription {
        font-size: 1.5rem;
    }
}

.loadingAnimation {
    animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }