
// Color variables

$taskCardColor: rgba(0, 50, 50, 1);
$taskBorderColor: rgb(0, 120, 120);
$taskShadowColor: lightseagreen;
$taskBrightColor: cyan;

$subtaskCardColor: rgba(0, 100, 0, 0.6);
$subtaskBorderColor: rgb(80, 150, 100);
$subtaskShadowColor: limegreen;
$subtaskBrightColor: lime;

$stepCardColor: rgba(100, 90, 0, 0.6);
$stepBorderColor: rgb(120, 160, 40);
$stepShadowColor: gold;
$stepBrightColor: yellow;

$lightGrey: rgb(68, 68, 68);
$darkGrey: rgb(40, 40, 40);
$darkerGrey: rgb(30, 30, 30);


// Containers & sections

// body {
//     filter: invert(1);
// }



.mainPage {
    min-height: 100svh;
    min-width: 100svw;
    background: url('../../public/assets/focus_bg.jpg');
    background-size: cover;
    box-sizing: border-box;
}
.mainPage h1 {
    font-family: "Times";
    color: rgb(147, 255, 152);
    padding: 20px;
    filter: drop-shadow(3px 1px 3px rgb(166, 255, 0));
}

.mainPage h2 {
    font-family: "Verdana";
    padding: 20px;
    color: lightblue;
}

.taskSection {
    color: white;
    display: flex;
    justify-content: center;
    background-size: cover;
    box-sizing: border-box;
    background-attachment: url('/assets/focus_zen_dark.png');
    // filter: invert(1);
}

.taskSection h2 {
    color: $taskBrightColor;
    background-color: $darkGrey;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

.taskSection textarea {
    font-size: 16px;
    color: white;
    background-color: rgb(68, 68, 68);
    border-radius: 1rem;
}

.focusButton {
    background: radial-gradient($lightGrey, $darkerGrey);
    color: lightgreen;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 1px black;
}

[focus-tooltip] {
    position: relative;
}

[focus-tooltip]:hover::after {
    content: attr(focus-tooltip);
    font-weight: 900;
    position: absolute;
    inset: 0 0 0 110%;
    color:white;
    width: 100%;
    filter: drop-shadow(5px 5px 5px black);
}

.focusButton:hover {
    cursor: pointer;
    box-shadow: 0 0 100px 50px white;
    color: white;
}

@mixin containerMixin($mainColor) {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    background-color: $mainColor;
    border-radius: 1rem;
    padding: 2rem;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.taskContainer {
    @include containerMixin($taskCardColor);
    background-color: rgba(0, 0, 0, 0.8);
    width: 800px;
    margin-left: 1svw;
    ul {
        gap: 1rem;
    }
}

.subtaskContainer {
    @include containerMixin($subtaskCardColor);
    margin-left: 1svw;
    padding: 0;
    border: none;
    background: none;
    animation: appearGrow 0.3s ease;
}

.stepContainer {
    @include containerMixin($stepCardColor);
    margin-left: 1svw;
    padding: 0;
    border: none;
    background: none;
    animation: appearGrow 0.3s ease;
}

// CARDS

// Checkbox
.customCheckbox {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    accent-color: black;
  }
.customCheckbox:hover {
    box-shadow: 0 0 5px 2px rgb(0, 110, 173);
}

[checkbox-tooltip] {
    position: relative;
}

[checkbox-tooltip]:hover::after {
    content: attr(checkbox-tooltip);
    position: absolute;
    bottom: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 110, 173);
    color:white;
    padding: 4px;
    border-radius: 4px;
}

@mixin cardMixin($mainColor: black, $borderColor: white, $shadowColor: silver) {
    cursor: grab;
    color: white;
    display: block;
    padding: 8px;
    background: linear-gradient(to top,black -50%, $mainColor, black 150%);
    border: 1px solid $borderColor;
    border-radius: 0.5rem;
    width: 100%;
    p {
        padding-right: 4px;
        cursor: text;
    }
    &:hover {
        box-shadow: 0 0 1px 1px $shadowColor;
        background: linear-gradient(to top, black -150%, $mainColor, black 250%);
        z-index: 1;
    }
}

@mixin expandCollapseMixin($color1, $color2) {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    color: $color1;
    font-size: 1.2rem;
    cursor: pointer;
    width: fit-content;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 2px 4px;
    span {
        font-size: 0.8rem;
        color: $color2;
    }
    &:hover {
        border-color: $color1;
    }
}

@mixin inputRowMixin($color1, $color2, $color3) { 
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 1rem 0 0.5rem 0;
    color: $color1;

    input {
        width: 100%;
        padding: 4px;
        font-size: 1rem;
        color: white;
        background-color: rgb(68, 68, 68);
    }

    button {
        display: flex;
        align-items: center;
        gap: 4px;
        color: $color3;
        background-color: $darkGrey;
        border-radius: 8px;
        font-weight: 700;
        padding: 4px 16px 4px 8px;
        cursor: pointer;
    }

    button:hover {
        color: $color2;
        background-color: $darkerGrey;
    }

    .addIcon {
        font-size: 1.2rem;
        color: $color2;
    }
}

@mixin trashIconMixin($color) {
    width: 20px;
    font-size: 1.3rem;
    color: $color;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(1px 1px 1px black);
    }
}

.cardTailSection {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.cardDescription {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.cardTextArea {
    hyphens: auto;
    display: flex;
    max-width: 100%;
}

.cardTextArea p {
    overflow: none;
    hyphens: auto;
    display: inline;
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

// Task
.taskWindow {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.taskCard {
    @include cardMixin($taskCardColor, $taskBorderColor, $taskShadowColor);
  }

.taskNumber {
    color: $taskBrightColor;
    font-weight: 900;
    font-size: 1rem;
    padding-right: 6px;
}

.trashIconTask {
    @include trashIconMixin($taskShadowColor);
}

.inputRowTask {
    @include inputRowMixin($taskCardColor, $taskBrightColor, $taskShadowColor);
}

// Subtask
.subtaskWindow {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.expandCollapseSubtasks {
    @include expandCollapseMixin($subtaskShadowColor, $subtaskBrightColor);
}

.subtaskCard {
    @include cardMixin($subtaskCardColor, $subtaskBorderColor, $subtaskShadowColor);
  }

.subtaskNumber {
    color: $subtaskBrightColor;
    font-weight: 900;
    font-size: 1rem;
    padding-right: 6px;
}

.trashIconSubtask {
    @include trashIconMixin($subtaskShadowColor);
}

.inputRowSubtask {
    @include inputRowMixin($subtaskCardColor, $subtaskBrightColor, $subtaskShadowColor);
}

// Step
.stepWindow {
    display: flex;
    justify-content: center;
    align-items: left;
}

.expandCollapseSteps {
    @include expandCollapseMixin($stepShadowColor, $stepBrightColor);
}

.stepCard {
    @include cardMixin($stepCardColor, $stepBorderColor, $stepShadowColor);
}

.stepNumber {
    color: $stepBrightColor;
    font-weight: 900;
    font-size: 1rem;
    padding-right: 6px;
}

.trashIconStep {
    @include trashIconMixin($stepShadowColor);
}

.inputRowStep {
    @include inputRowMixin($stepCardColor, $stepBrightColor, $stepShadowColor);
}

// Completed card
.taskCardCompleted {
    @include cardMixin(grey, grey, silver);
    opacity: 50%;
    color: silver;
}

.expandCollapseCompleted {
    @include expandCollapseMixin(silver, lightgrey);
}

.completedNumber {
    color: white;
    font-weight: 900;
    font-size: 1rem;
    padding-right: 6px;
}

.trashIconCompleted {
    @include trashIconMixin(silver);
}


// ----------------------
// Focused mode
// ----------------------

.focusScreen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100svh;
    height: auto;
    color: white;
    background-image: url("../../public/assets/zen_pond.png");
    // background: url("../../public/assets/skyblue_clouds.png");
    background-size: cover;
    z-index: 1;
}

.focusContent {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: radial-gradient(rgb(70, 70, 70), silver);
    padding: 30px;
    border-radius: 10px;
}

.focusParentsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.focusParentDescription {
    background: linear-gradient(grey -50%, black 20%, grey 150%);
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Times New Roman';
    border: none;
    hyphens: auto;
    display: inline;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

@mixin focusDescription($borderColor, $shadowColor) {
    max-width: 100%;
    background: linear-gradient(grey -50%, black 20%, grey 150%);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-size: 2rem;
    border: solid;
    border-color: $borderColor;
    box-shadow: 0 0 30px 10px $shadowColor;
    animation: showFocus 1s ease-in;
    text-align: center;
    hyphens: auto;
    display: inline;
    box-sizing: border-box;
    overflow-wrap: break-word;
    hyphens: auto;
}

.focusTaskDescription {
    @include focusDescription($taskBorderColor, lightblue);
}
.focusSubtaskDescription {
    @include focusDescription(green, lightgreen);
}
.focusStepDescription {
    @include focusDescription(yellow, gold);
}

.goNextButton {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: impact;
    background: linear-gradient(darkgreen, lightgreen) !important;
    color: black !important;
}

.goNextButton:hover {
    box-shadow: 0 0 20px 2px cyan;
    transition: transform 0.2s ease-in;
    transform: scale(110%);
}

.exitButton {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20svh;
}

.subListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@mixin sublistMixin($textColor) {
    color: $textColor;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.5;
    width: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}

.completedSubtasks {
    @include cardMixin(green);
    @include sublistMixin(white);
}
.completedSteps {
    @include cardMixin(yellow);
    @include sublistMixin(black);
}

.completedTasks {
    @include cardMixin($taskCardColor);
    @include sublistMixin(white);
}

.subListContainer ul {
    list-style: none;
}

// DownArrow styles

.arrowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.downArrow {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;   
    border-top: 20px solid black;
    display: block;
    position: absolute;
    filter: drop-shadow(0px 0px 3px silver);
}

// -------------------
// Animations
// -------------------

@keyframes showFocus {
    from {opacity: 0};
    to {opacity: 1};
}

@keyframes appearGrow {
    from {max-height: 0;}
    to {max-height: 500px;}
}

@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}

.loadingAnimation {
    animation: fadeInOut 3s ease-in-out infinite;
}

// -----------------
// Responsiveness
// -----------------

@media (max-width: 800px) {
    .taskContainer {
        margin-left: 0;
        width: 100svw;
        box-sizing: border-box;
        flex-shrink: 1;
        padding: 0.5rem;
    }
    .taskSection h3 {
        margin-left: 0;
    }

    .taskContainer {
        border-radius: 0;
    }

    .focusContent {
        max-width: 100%;
    }

    .focusTaskDescription {
        font-size: 1.5rem;
    }

    .focusSubtaskDescription {
        font-size: 1.5rem;
    }

    .focusStepDescription {
        font-size: 1.5rem;
    }
}



